{% extends "templates/layout.jinja2" %}
{% block content %}
<title>All Filters</title>

{% if display_table %}

<ul>
<table border="1" id="table" class="tablesorter">
  <thead>
    <tr>
      <th>Last Name</th>
      <th>First Name</th>
      <th>Age</th>
      <th>Department</th>
      <th>College</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
{% for person in people %}
    <tr>
      <td>{{person.last_name}}</td>
      <td>{{person.first_name}}</td>
      <td>{{person.age}}</td>
      <td>{{person.department}}</td>
      <td>{{person.college}}</td>
      <td><a href='{{request.application_url}}/delete/{{person.id}}'>Delete</a></td>
    </tr>
{% endfor %}
  </tbody>
</table>
</ul>

Page {{page_number}} of {{total_pages}} {% if previous_page_url != '' %}<a href="{{previous_page_url}}">Back</a>{% endif %} {% if next_page_url != '' %}<a href="{{next_page_url}}">Next</a>{% endif %}

{% else %}

{{message}}

		<form id="form" action="{{save_url}}" method="post">
			<label for="first_name" >
				First Name: 
			</label>
			<input id="first_name" name="first_name" type="text"/>
			<br>
			<label for="last_name" >
				Last Name: 
			</label>
			<input id="last_name" name="last_name" type="text"/>
			<br>
		    <label for="age">Age: </label>
          	<input name="age" type="number" size="6" name="age" min="1" max="130" value="21"/>
          	<br>
			<label for="department" >
				Department: 
			</label>
			<input id="department" name="department" type="text"/>
			<br>
			<label for="college" >
				College: 
			</label>
			<input id="college" name="college" type="text"/>
			<br>
			<label for="results_per_page" >
				Results Per Page: 
			</label>
			<select id="results_per_page" name="results_per_page">
				<option value="5">5</option>
				<option value="10">10</option>
				<option value="20">20</option>
			</select>
			<br>
			<input type="submit" name="filter_form.submitted" value="Go"/>
		</form>
{% endif %}

{% endblock content %}