{% extends "templates/layout.jinja2" %}
{% block content %}
<title>Status</title>

{% if expected_database_version != database_version %}

The database schema revision is not as expected. (Installed: '{{database_version}}' Expected: '{{expected_database_version}}')

{% else %}

The database schema is the correct revision (revision: '{{expected_database_version}}')

{% endif %}

<table border="1">
    <tr>
    	<td>Package</td> 
    	<td>Version Required</td>
    	<td>Version Installed</td>
    </tr>
{%- for name, ver_required, ver_installed in packages %}
<!-- Sets up the highlight. Red for an error, green if it is correct -->
	<tr{% if ver_required != ver_installed %} bgcolor="#ff0000" {% else %} bgcolor="#00ff00" {% endif %}>
        <td>{{name}}</td> 
        <td>{{ver_required}}</td> 
        <td>{{ver_installed}}</td>
    </tr>
{%- endfor %}
</table>
<br>
{% if example_url != '' %}
	<a href={{example_url}}>Demonstration page of error highlighting and missing packages.</a>
{% endif %}
{% endblock content %}